@media (max-width: 1100px) {
  .services__item-container {
    width: 50%;
  }
}


@media (max-width: 767px) {
  .header__menu {
    flex-direction: column;
    align-items: center;
  }

  .main-menu {
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
    background-color: #f6f6f6;
    height: 0;
  }

  .main-menu__item {
    width: 100%;
  }

  .main-menu a {
    text-align: center;
    padding: 10px 0;
  }

  .toggle-button::after {
    content: attr(data-open);
    display: block;
    cursor: pointer;
    padding: 22px 10px;
  }

  #menu-checkbox:checked + .header__menu .toggle-button::after {
    content: attr(data-close);
  }

  #menu-checkbox:checked + .header__menu  .main-menu{
    height: auto;
  }

  .top-banner__title {
    font-size: 46px;
    line-height: 59px;
  }

  .top-banner__description {
    max-width: 310px;
  }

  .top-banner__description p {
    font-size: 16px;
    line-height: 33px;
  }

  .top-banner {
    padding-top: 70px;
    padding-bottom: 150px;
  }

  .services__title {
    font-size: 27px;
  }

  .services__description {
    font-size: 18px;
  }

  .services__item-container {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content__column {
    width: 100%;
    max-width: 410px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .top-banner__title {
    font-size: 28px;
    line-height: 37px;
  }

  .services__title {
    font-size: 20px;
  }

  .services__description {
    font-size: 16px;
  }

  .portfolio__description {
    font-size: 14px;
  }

  .footer__bottom-nav {
    flex-direction: column;
    align-items: center;
  }
}