@import url('fonts.css');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700');

body {
  background-color: #f6f6f6;
  font-family: "Century Gothic Bold", sans-serif;

}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font: inherit;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: #f6f6f6;
}

.header__top {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-link {
  margin-right: 50px;
}

.logo {
  display: block;
}

.header__menu {
  width: 100%;
  max-width: 705px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  line-height: 32px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-menu a {
display: block;
color: #000000;
text-transform: uppercase;
padding: 22px 10px;

}

.main-menu a:hover,
.main-menu a:focus {
  background-color: #ffea00;
}

/*top-banner*/

.top-banner {
  padding-top: 110px;
  padding-bottom: 300px;
  background-image: url(../img/top-banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.top-banner__title {
  margin: 0;
  font-size: 70px;
  line-height: 95px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.top-banner__title span {
  background-color: #ffea00;
  padding: 0 13px;
}

.top-banner__description {
  max-width: 365px;
}

.top-banner__description p {
  margin: 0;
  padding: 6px;
  display: inline;
  font-size: 24px;
  line-height: 42px;
  color: #fff;
  background-color: #414146;
}

/*Services*/

.services {
  text-align: center;
  padding: 90px 0 40px;
}

.services__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  color: #424147;
}

.services__description {
  margin: 0;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #424147;
}

.services__list {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item-container {
  width: 25%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.services__item {
  width: 100%;
  max-width: 250px;
}

.services__item-top {
  height: 200px;
  background-color: #ffea00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__item-img {
  margin: auto;
}

.services__item h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
}

.services__item p {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 30px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.26px;
  color: #fff;
  background-color: #414146;
}

.services__item-alternative p {
  padding-top: 18px;
  padding-bottom: 26px;
  padding-left: 17px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  text-align: left;
}

.services__item-alternative .services__item-top {
  background-image: url(../img/services__item-alternative.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
