@import url('fonts.css');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700');

body {
  background-color: #f6f6f6;
  font-family: "Century Gothic Bold", sans-serif;

}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font: inherit;
}

section p {
  color: #424147
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: #f6f6f6;
}

.header__top {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-link {
  margin-right: 50px;
}

.logo {
  display: block;
}

.header__menu {
  width: 100%;
  max-width: 705px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  line-height: 32px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-menu a {
  display: block;
  color: #000000;
  text-transform: uppercase;
  padding: 22px 10px;

}

.main-menu a:hover,
.main-menu a:focus {
  background-color: #ffea00;
}

/*top-banner*/

.top-banner {
  padding-top: 110px;
  padding-bottom: 300px;
  background-image: url(../img/top-banner.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.top-banner__title {
  margin: 0;
  font-size: 70px;
  line-height: 95px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.top-banner__title span {
  background-color: #ffea00;
  padding: 0 13px;
}

.top-banner__description {
  max-width: 365px;
}

.top-banner__description p {
  margin: 0;
  padding: 6px;
  display: inline;
  font-size: 24px;
  line-height: 42px;
  color: #fff;
  background-color: #414146;
}

/*Services*/

.services {
  text-align: center;
  padding: 90px 0 40px;
}

.services__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  color: #424147;
}

.services__description {
  margin: 0;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #424147;
}

.services__list {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item-container {
  width: 25%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.services__item {
  width: 100%;
  max-width: 250px;
}

.services__item-top {
  height: 200px;
  background-color: #ffea00;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__item-img {
  margin: auto;
}

.services__item h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px;
}

.services__item p {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.26px;
  color: #fff;
  background-color: #414146;
}

.services__item-alternative p {
  padding-top: 18px;
  padding-bottom: 26px;
  padding-left: 17px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  text-align: left;
}

.services__item-alternative .services__item-top {
  background-image: url(../img/services__item-alternative.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/*portfolio*/

.section-centering {
  text-align: center;
}

.portfolio {
  margin-bottom: 28px;
}

.section-title {
  margin: 0;
  margin-bottom: 30px;
  display: inline-block;
  padding: 8px 28px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffea00;
  background-color: #424147;
}

.section-description {
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 21px;
}

.toggles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.toggles button {
  border: none;
  padding: 15px 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #424146;
  cursor: pointer;
}

.toggles button:not(:last-child)::after {
  content: "/";
  margin-left: 10px;
  margin-right: 10px;
}

.toggles button:hover {
  color: #ffea00;
}

.toggles button:hover::after {
  color: #424146;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery__item-wrap {
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 40px;
  align-items: flex-start;
  flex-basis: auto;
}

.gallery__item-wrap img {
  width: 100%;
  height: auto;
}

/*Clients*/

.carousel__item {
  width: 140px;
  height: 65px;
  margin: auto;
}

.carousel__item img {
  width: 100%;
  height: auto;
}

/*footer*/

footer {
  background-color: #414146;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-content__column {
  width: 31%;
}

footer h4 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 21px;
}

footer p {
  margin: 0;
  font-size: 13px;
  line-height: 21px;
}

.about-us p {
  margin-bottom: 26px;
  max-width: 410px;
}

.about-us__link {
  display: inline-block;
  color: inherit;
  font-size: 15px;
  line-height: 21px;
  padding: 10px 17px;
  background-color: #000;
  border-bottom: 2px solid #ffea00;
  margin-bottom: 44px;
  transition: 0.3s;
}

.about-us__link:hover,
.about-us__link:focus {
  color: #000;
  background-color: #ffea00;
}

.footer-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 404px;
}

.footer-gallery__item {
  margin-bottom: 10px;
  width: 32%;
}

.footer-gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.tweets__item {
  padding-left: 46px;
  margin-bottom: 8px;
  background-image: url(../img/tweets__item-img.png);
  background-repeat: no-repeat;
  background-position: left 10px;
}

.tweets__item a {
  color: #ffea00;
}

.tweets__item p {
  margin-bottom: 24px;
}

.tweets__item span {
  font-size: 8px;
  line-height: 12px;
  color: #ffea00;
}

.tweets__list {
  margin-bottom: 40px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  
}

.social h4 {
  margin-right: 9px;
  margin-bottom: 10px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 2px;
}

.social__item a {
  display: inline-block;
}

.contacts h4 {
  margin-bottom: 60px;
}

.contacts > p {
  padding-left: 46px;
  margin-bottom: 18px;
  max-width: 246px;
  position: relative;
}

.contacts a {
  color: inherit;
  display: inline-block;
}

.contacts__email a {
  color: #ffea00;
}

.contacts__phone a:not(:first-child) {
  margin-left: 47px;
}

.contacts > p::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -5px;
}

.contacts__adress::before {
  background-image: url(../img/adress.png);
}

.contacts__phone::before {
  background-image: url(../img/phone.png);
}

.contacts__email::before {
  background-image: url(../img/email.png);
}

.feedback {
  margin-top: 40px;
}

.feedback h4 {
  margin-bottom: 15px;
}

.feedback p {
  margin-bottom: 22px;
  max-width: 320px;
}

.email-input {
  background-color: transparent;
  padding: 0;
  border: none;
  border-bottom: 2px solid #ffea00;
  color: #fff;
  font-size: 16px;
  display: block;
  width: 100%;
}

.form-submit {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/email-send.png);
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

.form-row {
  max-width: 232px;
  padding-right: 28px;
  position: relative;
}

.footer__bottom {
  background-color: #000;
  padding: 0 0;
}

.footer__bottom-nav {
  max-width: 692px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.footer__bottom-nav a {
  display: inline-block;
  padding: 22px 10px;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}

.footer__bottom-nav a:hover,
.footer__bottom-nav a:focus {
  background-color: #ffea00;
  color: #000;
}

